<%- include('partials/header') %>
<main id="main-home">
  <div class="container text-center centered">
    <div class="">
      <img class="img-fluid" src="images/logo.png" alt="logo" />
    </div>
    <div class="pt-4 w-50 my-0 mx-auto">
      <p>Welcome to Foodel!</p>
      <p>
        You will get a one-meal-a-day weekly plan for your entire week based on your own weight and height. Foodel Calculates your BMI (Body Mass
        Index) and gives your plan accordingly
      </p>
      <p>Please Register to get your meal plan! Enjoy!</p>
    </div>
    <div class="py-3">
      <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>
    </div>
    <div class="logo-bottom">
      <img class="logo-bottom" src="images/foodel.png" alt="decorative image of a leaf" />
      <img class="logo-bottom" src="images/foodel-1.png" alt="decorative image of a leaf" />
    </div>
  </div>
</main>
<%- include('partials/footer') %>
